extends ../layouts/default

block content
	.container: .jumbotron
		p This is Jason's project page. Work is (clearly) in progress.

		.row
			.col-md-3.hidden-sm.hidden-xs
				input(type=type, placeholder='Search')
			.col-md-9.hidden-sm.hidden-xs
				span Sort by:
				.btn-group(role='group', aria-label='...')
					button.btn.btn-default(type='button') Project Management
					button.btn.btn-default(type='button') Web Development
					button.btn.btn-default(type='button') Game Development

		.container.project-listing

			// Repeat to show all the projects

			each project in data.projects


				// Project Title
				.row
					.col-md-6
						p=	project.name
					.col-md-6
						if project.isComplete == true
							p= project.startDate  + " " + project.endDate + ", Complete"
						else
							p= project.startDate  + " " + project.endDate +", In-Progress"

				// Project Information
				.row
					// Project Image
					.col-md-3.col-sm-12
						img(src=project.imgUrl).image-project-listing
					// Add spacing
					.col-md-1.col-sm-12
					// Project Information
					.col-md-8
						.row
							.col-md-12.col-sm-12
								b	Brief Description:
								p= project.descShort
							.col-md-12.col-sm-12
								b	My Role:
								p= project.role
				br
				br
